#! /bin/bash

#DEFAULTS
THREAD_MEM="4G"				#maximum required memory per thread
THREADS=16				#typically 1 cpu can have 2 threads
let BISMARK_THREAD=$THREADS/4
BISMARK_MEM=1024
JAVA_XMS="-Xms4G"
JAVA_XMX="-Xmx60G"

#FILES/DIRECTORIES

SCRATCH="/scratch"
OUTPUT_MAIN="/ribes/01_Lab_Common_Resources/02_Lab_HPscreens"

FASTQ_DIRECTORY="$OUTPUT_MAIN"/fastq
OUTPUT_BAM_FOLDER="$OUTPUT_MAIN"/bams
OUTPUT_BIGWIG_FOLDER="$OUTPUT_MAIN"/bigWigs
OUTPUT_STATS_FOLDER="$OUTPUT_MAIN"/stats
OUTPUT_CPG_REPORT_FOLDER="$OUTPUT_MAIN"/cpg_reports
OUTPUT_DE_NOVO_ASSEMBLY_FOLDER="$OUTPUT_MAIN"/stringTie
OUTPUT_TRACK_HUB="$OUTPUT_MAIN"/track_hubs

GENOME_DIR="/ribes/01_Lab_Common_Resources/02_Lab_HPscreens"
ILLUMINA_ADAPATORS_ALL="/ribes/01_Lab_Common_Resources/02_Lab_HPscreens/mm10/adapters.fa"

# dependencies for sra2bw_functions.sh
JAVA="java -jar $JAVA_XMS $JAVA_XMX"
# MEA="$JAVA /Users/jra/bin/mea/alea.jar"
BAMCOVERAGE="bamCoverage"
BAMTOFASTQ="bamToFastq"
BEDGRAPH_TO_BIGWIG="bedGraphToBigWig"
BEDTOOLS="bedtools"
BISMARK="bismark"
BISMARK_METH_EXTRACT="bismark_methylation_extractor"
BISMARK_DEDUPLICATE="deduplicate_bismark"
BOWTIE2="bowtie2"
CLUMPIFY="clumpify.sh"
# BWA="bwa"
EFETCH="/home/robin/edirect/efetch"
ESEARCH="/home/robin/edirect/esearch"
FASTQC="fastqc"
FASTQ_DUMP="/home/robin/bin/miniconda3/bin/fastq-dump"
FASTQSCREEN="fastq_screen"
HEADREST="headRest"
# HICUP="hicup"
PREFETCH="prefetch"
PRESEQ="preseq"
SAMTOOLS="samtools"
STAR="STAR"
STRINGTIE="stringtie"
TRIMMOMATIC="trimmomatic"
VALIDATE="vdb-validate"
PICARD="picard"
